<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<mime-mapping>
		<extension>cab</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>application/txt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp3</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xlsx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>docx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pptx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
	</mime-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>filterChainProxy</filter-name>
		<filter-class>org.csr.core.security.FilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>openEntityManagerInView</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openEntityManagerInView</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.csr.core.listener.CustomerContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.csr.core.listener.ServletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.csr.common.user.support.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<!-- <error-page> <error-code>400</error-code> <location>/WEB-INF/jsp/error/400.jsp</location> 
		</error-page> -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/jsp/error/409.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/WEB-INF/jsp/error/410.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error/503.jsp</location>
	</error-page>
	<!-- <error-page> <error-code>501</error-code> <location>/WEB-INF/jsp/error/error.jsp</location> 
		</error-page> -->
	<servlet>
		<servlet-name>commonMVC</servlet-name>
		<servlet-class>org.csr.core.web.servlet.PorpeDispatcherServlet</servlet-class>
		<init-param>
			<description>MVC的配置文件</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/common-web.xml</param-value>
		</init-param>
		<!-- <init-param> <param-name>jsPath</param-name> <param-value>http://192.168.10.32:9090/exam</param-value> 
			</init-param> -->
		<init-param>
			<param-name>publishContext</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>commonMVC</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>360</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.shtml</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>