.file-icon {background: url('images/folde-icon.png') no-repeat -16px 0;}
.folder-icon {background: url('images/folde-icon.png') no-repeat 0;}

.m-expand-tree .tree-node-selected{background:#f0f2f5;}
.m-expand-tree .tree-node-selected{ color:#000;}
.m-expand-tree .tree-node-hover{background:#f0f2f5; color:#000;}
.m-expand-tree .tree-folder{width:22px; height:25px; background:url(images/expand-tree_icons.png) no-repeat -140px 0;}
.m-expand-tree .tree-folder-open{background:url(images/expand-tree_icons.png) no-repeat -164px 0;}
.m-expand-tree .tree-file{width:22px; height:25px; background:url(images/expand-tree_icons.png) no-repeat -188px 0;}

.m-expand-tree .tree-node{height:25px;}
.m-expand-tree .tree-title{height:25px; line-height:25px;}
.m-expand-tree .tree-collapsed{margin-top:4px;}

.drop-down-tree{display:inline;}
.drop-down-tree .panel{border:1px solid #ccc; padding-bottom:0;}

.m-expand-tree .tree-checkbox0{margin-top:2px; background:url(images/expand-tree_icons.png) no-repeat -211px 0;}
.m-expand-tree .tree-checkbox1{margin-top:2px; background:url(images/expand-tree_icons.png) no-repeat -227px 0;}
.m-expand-tree .tree-checkbox2{margin-top:2px; background:url(images/expand-tree_icons.png) no-repeat -243px 0;}













