.messager-body {
  padding: 10px;
  overflow: hidden;
}
.messager-button {
  text-align: center;
  padding-top: 10px;
}
.messager-button .l-btn {
  width: 70px;
}
.messager-icon {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 5px 5px 0;
}
.messager-error {
  background: url('images/messager_icons.png') no-repeat scroll -43px 0;
}
.messager-info {
  background: url('images/messager_icons.png') no-repeat scroll -1px 0;
}
.messager-question {
  background: url('images/messager_icons.png') no-repeat scroll -22px 0;
}
.messager-warning {
background: url('images/messager_icons.png') no-repeat scroll -64px 0;
}
.messager-progress {
  padding: 10px;
}
.messager-p-msg {
  margin-bottom: 5px;
}
.messager-body .messager-input {
  width: 100%;
  padding: 1px 0;
  border: 1px solid #ddd;
}
