@charset "utf-8";
/* CSS Document */

/*新加编辑tab页*/
.pmt-tabbar a{padding:0 20px 0 20px; position: relative; font-size:14px;}
.pmt-tabbar a i{position:absolute;right:0; color:#e0e0e0; line-height:33px; font-style:normal; font-weight:normal; font-size:12px;}
.pmt-tabbar a.curr,.pmt-tabbar a:hover{border-bottom:2px solid #24C0FA; color:#24C0FA;}
.pmt-tabbar a:hover em.del{background-position:-47px -158px;}
.pmt-tabbar a.curr em.del{background-position:-47px -158px;}
.pmt-tabbar a.curr em.del:hover,.pmt-tabbar a:hover em.del:hover{background-position:-29px -158px;}
.pmt-tabbar a .title{padding:0;}
.pmt-tabbar em{float:left; display:block; margin-left:12px; width:11px; height:34px; background:url(images/home-spirit.png) no-repeat;}
.pmt-tabbar em.lock{width:4px; height:4px; top:16px; right:12px; background:#fff;}
.pmt-tabbar em.del{background-position:-29px -158px;}
.pmt-tabbar em.del:hover{background-position:-47px -158px;}
.pmt-context .pmt-tabcon-panel{display:none; min-height:400px;}
.pmt-context .pmt-tabcon-panel.curr{display:block;}
.pmt-tabbar a span{display:block; float:left;}


/* .pmt-tabbar a:last-child i{display: none;} */
